/**
 * Globals
 */

:root {
    /* Colors */
    --cyan: #4ee3c3;
    --light-gray: #535c6b;
    --dark-gray: #252d38;
    --deep-dark-gray: #0d2628;
    --black: #000;

    /* Z-indexes */
    --z-sidebar-container: 800;
    --z-sidebar-dimmer: 800;
    --z-sidebar: 801;

    --z-modal: 900;
}

/**
 * Layout
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: var(--light-gray);
}

/**
 * CheckBox
 */

.checkbox-track {
    --track-width: 40px;

    margin-bottom: 10px;
    width: var(--track-width);
    height: 14px;
    border-radius: 19px;
    position: relative;
    background-color: var(--deep-dark-gray);

    cursor: pointer;
}

.checkbox-track.checked > .checkbox-wrapper {
    transform: translate(calc(var(--track-width) / 2), 0);
}

.checkbox-wrapper {
    border: 3px solid var(--cyan);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: -3px;
    left: 0;
    background-color: var(--dark-gray);

    transition: transform .1s ease-out;
    transform: translate(0, 0);
}

.checkbox-wrapper > input {
    display: none;
}

/**
 * Player
 */

.player {
    --progress: 30%;

    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 272px;
    height: 120px;
    border-radius: 10px;
    background-color: var(--dark-gray);
}

.player > .player-track {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, var(--cyan) 0%, var(--cyan) var(--progress), var(--black) var(--progress), var(--black) 100%);

    cursor: pointer;
}

.player > .player-time {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 12px;
    color: rgba(255, 255, 255, 0.4);
    font-size: 12px;
}

.player > .player-controls {
    width: 100%;
    height: 90px;
}

/**
 * Sidebar
 */

.sidebar-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: var(--z-sidebar-container);
}

.sidebar {
    --width: 25%;
    --offset: -100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: var(--light-gray);
    top: 0;
    left: 0;
    transform: translate3d(var(--offset), 0, 0);
    width: var(--width);
    height: 100vh;
    z-index: var(--z-sidebar);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: transform .2s ease-out;
}

.sidebar-name {
    color: white;
    font-family: Ubuntu, sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.sidebar-dimmer {
    --opacity: 0;

    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: black;
    opacity: var(--opacity);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: var(--z-sidebar-dimmer);
    transition: opacity .2s ease-out;
}