table {
  border: 1px solid white;
  border-collapse: collapse;
}

th, td {
  padding: 20px;
  border: 1px solid white;
  color: white;
}

th {
  background-color: black;
}

td.column-1 {
  --width: 250px;
  width: var(--width);
}

td.column-2 {
  --width: 250px;
  width: var(--width);
}

td.column-3 {
  --width: 250px;
  width: var(--width);
}

td.column-4 {
  --width: 250px;
  width: var(--width);
}

td.column-5 {
  --width: 250px;
  width: var(--width);
}

td.column-6 {
  --width: 250px;
  width: var(--width);
}